body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#post{
    background-color: snow;
    position: relative;
}

.small-button{
    position: absolute;
    bottom: 25px;
    right: 35px;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

.episode{
    margin: auto 130px;
}

.date{
    margin-left: 30px;
}