<table class="table table-bordered">
        <tr><th width="300px">Название епизода</th><th>Описание</th><th width="150px">Дата добавления</th><th width="50px">Удаление</th></tr>
{% for episode in episodes %}
    <tr>
        <td>{{ episode.title }}</td><td>{{ episode.description }}</td><td>{{ episode.date }}</td><td><a id="{{ episode.id }}" class="btn btn-danger btn-xs">Удалить епизод</a></td>
    </tr>
{% endfor %}
</table>