{% extends 'base.html.twig' %}
{% block body %}
    <div class="container well">
        <form class="col-sm-12 col-md-12" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <label>Название</label>
                    <input class="form-control" placeholder="Название сериала" type="text" name="title">
                    <label>Постер</label>
                    <input class="form-control" type="file" name="poster">
                </div>

                <div class="col-sm-8 col-md-8">
                    <div class="form-group">
                        <label>Короткое описание</label>
                        <textarea class="col-sm-3 col-md-3 form-control" name="description" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <input class="btn btn-primary pull-right" type="submit" name="submit" value="Добавить">
        </form>

            <div class="row">
                <h2 align="center">Добавьте серии</h2>
                <hr>
                <div class="control-group" id="fields">
                    <label class="control-label episode">Название епизода</label>
                    <label class="control-label episode">Краткое описание</label>
                    <label class="control-label date">Дата добавления</label>
                    <div class="controls">
                        <form role="form" autocomplete="off" id="edisode">
                            <div class="entry input-group col-lg-12">
                                <div class="col-lg-4"><input class="form-control" name="title" type="text" /></div>
                                <div class="col-lg-4"><input class="form-control" name="description" type="text" /></div>
                                <div class="col-lg-2"></div>
                            <button class="btn btn-success btn-add" type="button" value="">
                                <span class="glyphicon glyphicon-plus"></span>
                                Добавить серию
                            </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

    </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script src="/frontend/js/episodes.js"></script>
{% endblock javascripts %}